#clinic-infos {
    margin-bottom: -8rem;
    padding-bottom: 8rem;
    transform: skewY(-8deg);
    background-color: $secondaryBgColor;
    color: set-text-color($secondaryBgColor);

    .section-content {
        transform: skewY(8deg);

        img {
            height: 300px;
        }
    }
}